@font-face {
  font-family: "iconfont"; /* Project id 4568361 */
  src: url('iconfont.woff2?t=1717208500364') format('woff2'),
       url('iconfont.woff?t=1717208500364') format('woff'),
       url('iconfont.ttf?t=1717208500364') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e719";
}

.icon-hao:before {
  content: "\e681";
}

.icon-vue:before {
  content: "\e6b9";
}

.icon-cpp:before {
  content: "\e61a";
}

.icon-cs:before {
  content: "\e61c";
}

.icon-css:before {
  content: "\e61e";
}

.icon-db:before {
  content: "\e620";
}

.icon-dll:before {
  content: "\e622";
}

.icon-doc:before {
  content: "\e623";
}

.icon-eml:before {
  content: "\e629";
}

.icon-flac:before {
  content: "\e62b";
}

.icon-html:before {
  content: "\e632";
}

.icon-java:before {
  content: "\e639";
}

.icon-js:before {
  content: "\e63b";
}

.icon-jsx:before {
  content: "\e63c";
}

.icon-php:before {
  content: "\e64d";
}

.icon-ppt:before {
  content: "\e64f";
}

.icon-ts:before {
  content: "\e664";
}

.icon-asp:before {
  content: "\e690";
}

.icon-c:before {
  content: "\e698";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xaingxai-copy:before {
  content: "\ebc2";
}

.icon-wenjian:before {
  content: "\e607";
}

.icon-zidongliuchengxiafaliebiao:before {
  content: "\e628";
}

.icon-xinjianwenjian:before {
  content: "\e637";
}

.icon-xinjianwenjianjia:before {
  content: "\e636";
}

.icon-shanchu:before {
  content: "\e63d";
}

